.loading {
  color: $green-color;
  font-weight: 700;
  font-size: 32px;
  position: relative;
  top: 10vh;
  div:first-child {
    box-shadow: 0px 0px 10px 0px $green-color;
  }
  span {
    opacity: 0.8;
  }
}

.loadingError {
  color: $red_color;
  font-weight: 500;
  font-size: 32px;
  position: relative;
  top: 10vh;
  opacity: 0.8;
}

.postsNotFound,
#noMorePosts {
  color: $white-color;
  font-weight: 500;
  font-size: 32px;
  opacity: 0.8;
}

.postCard {
  box-shadow: 0px 0px 10px 1px $green-color;
  button {
    width: 120px;
  }
  button:first-of-type:hover {
    box-shadow: 0px 0px 10px 1px $green-color;
  }
}

#limit {
  max-width: 20%;
}

#sortDirection {
  button {
    border: 1px solid $green-color_05;
    color: $grey-color;
  }
  button:hover {
    border: 1px solid $green-color;
    color: $green-color;
  }
}

.observer {
  height: 30px;
}
